.body_login {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 600px;
    /* Full height of the viewport */
}

.form-dky-dnhap_container {
    padding: 20px;
    /* Add some padding */
}

.form-dky-dnhap {
    width: 500px;
    /* Giữ nguyên chiều rộng */
    background-color: #fff;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: -2px -2px 60px 10px #f46690;
}

.form-dky-dnhap_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.form-dky-dnhap_heading {
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.form-dky-dnhap_switch_BTN {
    font-size: 16px;
    color: black;
    font-weight: 450;
    cursor: pointer;
}

.form-dky-dnhap_input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 16px;
    font-size: 14px;
    border: 1.5px solid #dbdbdb;
    border-radius: 3px;
    outline: none;
    font-weight: 430;
}

.form-dky-dnhap_input:focus {
    border-color: #777;
}

.form-dky-dnhap_span {
    margin-top: 18px;
}

.form-dky-dnhap_policy-text {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    padding: 0 12px;
}

.form-dky-dnhap_text-link {
    color: var(--primary-color);
    text-decoration: none;

}

.form-dky-dnhap_controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.back {
    margin-right: 8px;
}

.form-dky-dnhap_footer {
    background-color: #f5f5f5;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.form-dky-dnhap_footer-icon {
    font-size: 18px;
}

.form-dky-dnhap_footer-fb {
    background-color: #3a5a98;
    color: white;
}

.form-dky-dnhap_footer-title {
    margin: 0 30px;
}

.form-dky-dnhap_footer-gg {
    color: #666;
    background-color: var(--white-color);
}

.form-dky-dnhap_help {
    display: flex;
    justify-content: flex-end;
}

.form-dky-dnhap_help-link {
    text-decoration: none;
    font-size: 14px;
    color: #939393;
}

.form-dky-dnhap_help-gach {
    display: block;
    border-left: 1px solid var(--border-color);
    margin: 0 16px;
    height: 16px;
}

.form-dky-dnhap_help-link-quen {
    color: var(--primary-color);
}

/* Button style */
.btn {
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.back {
    background-color: #dbdbdb;
}

.btn .btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn--size--s {
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}

.btn.btn--primary {
    color: white;
    background-color: black;
}

.btn.btn--disable {
    color: #949494;
    cursor: default;
    filter: brightness(80%);
    background-color: #999;
}

