
.container {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 50px;
    max-width: 700px;
}
h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}
.qr-code {

    margin: 20px 0;
}

.qr-code img{
    width: 200px;
}

.amount {
    font-size: 1.5em;
    margin: 10px 0;
}
.bank-images {
    display: flex;
    justify-content: space-around;
    margin:30px 0;
}
.bank-images img {
    width: 60px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}
.bank-images img:hover {
    transform: scale(1.1);
}
.form-group {
    margin-bottom: 15px;
    text-align: left;
    display: none; 
}
.form-group.active {
    display: block;
}
button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}
.footer_pay{
    margin-top: 20px;
    font-size: 0.9em;
    color: #666;
}