:root {
    --main-color: #431615;
    --text-color: white;
    --white-color: white;
}

.grid {
    width: 1700px;
    max-width: 100%;
    margin: 0 auto;
}

.col-third {
    width: 33.33333%;
}

.col {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.grid_column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid_row {
    display: flex;
    justify-content: space-between; /* hoặc space-around */
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid_column-10 {
    display: flex;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}

/* CARSOSEL */

.app_together {
    position: relative;
    margin-top: 16px;
    height: 100%;
}

.carsosel_banel_adv {
    margin-bottom: 15px;
}

.img-carousel {
    height: 250px;
}

.box_menu {
    color: var(--main-color) !important;
    background-color: #fcd50d;
    padding: 6px 5px 6px;
}

/* MODAL CONTENT */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

/* Hiện modal khi có class 'open' */
.modal.open {
    display: flex;
}

/* Overlay của modal */
.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }

    to {
        transform: scale(var(--growth-to));
    }
}

/* Phân trang */
.home_pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-top: 15px;
}


.home_pagination-item {
    margin: 0 4px;
}

.home_pagination-next {
    margin: 0 12px;
}

.home_pagination-item-active .home_pagination-item-link {
    color: white;
    background-color: black;
}

.home_pagination-item-dont .home_pagination-item-link {
    border: 1px solid #929292;
}

.home_pagination-item-dont .home_pagination-item-next {
    border: 1px solid #929292;
}

.home_pagination-item-dont .home_pagination-item-next:hover {
    color:white;
    background-color: black;
}

.home_pagination-item-dont .home_pagination-item-link:hover {
    color: white;
    background-color: black;
}

.home_pagination-item-link {
    display: block;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    color: #454749;
    min-width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border-radius: 2px;
    letter-spacing: 0.5px;
}

.home_pagination-item-next {
    min-width: 70px;
    height: 38px;
    display: block;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    color: #454749;
    line-height: 38px;
    text-align: center;
    border-radius: 2px;
    letter-spacing: 0.5px;
}