.list_menu {
}

.menu_dinner_main {
    padding: 20px 0;
}

.list_menu_detail {
    display: flex;
    justify-content: center;
}

.list_menu_detail-title {
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    color: #666666B2;
    padding: 13px 15px;
    position: relative;
}

.list_menu_detail-title--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #101720;
    height: 20px;
    background-color: #101720;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.grid_menu {
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.banner_img_adv{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.banner_img_adv-detail{
    width: 150px;
    padding: 0 10px;
}

.menu_eat {
    text-align: center;
    margin-bottom: 40px;

}

.menu_eat_title h3 {
    color: #441416;
    font-size: 13px;
    font-weight: 600;
    padding: 8px 0px 3px;
    margin: 0;
}

.menu_eat_price {
    padding-bottom: 5px;
}

.menu_eat_price del {
    font-family: "Arial";
    font-style: italic;
    color: #d1d1d1;
    font-size: 11px;
}

.menu_eat_price span {
    font-family: "Arial";
    font-style: italic;
    font-weight: 700;
    font-size: 14px;
    color: #e52d27;
}

.img_menu {
    width: 150px;
    height:100%;
    border-radius: 50px;
}



.menu_eat_action a {
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    color: #333;
    border: 1px solid #f46690 !important;
    padding: 5px 15px;
    border-radius: 4px;
    font-size: 15px;
}

.home_product-item-sale {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: #dfdfdf;
    text-align: center;
}

.home_product-item-sale::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    border-width: 0 20px 5px;
    border-style: solid;
    border-color: transparent #f2f2f2 transparent #f2f2f2;
}

.home_product-item-sale-percent {
    color: var(--main-color);
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    position: relative;
    top: 1px;
}

.home_product-item-sale-lable {
    font-size: 14px;
    line-height: 14px;
    color: var(--white-color);
}

.list_menu_detail-title:hover{
    cursor: pointer;
    text-align: bold;
    color: #f46690 ;
}

.list_menu_detail-title-choose{
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    color:#222222;
    padding: 13px 15px;
    position: relative;
}

.menu_eat_action a:hover {
    color: white;
    background-color: #c4c1c1;
}