.grid_introduce {
    width: 900px;
    max-width: 100%;
    margin: 0 auto;
}

.line {
    display: block;
    /* Đặt thành khối để căn giữa */
    border: none;
    height: 2px;
    background-color: #f46690;
    width: 200px;
    margin: 10px auto;
}

.introduce_Restaurant {
    text-align: center;
}

.in_main {
    width: 100%;
}

.map-section{
    width: 100%;
    max-width: 900px; 
    height: 450px; 
    margin: 20px auto;
    border: 2px solid #ccc;
    border-radius: 8px; 
}

.map-section iframe {
    width: 100%;
    height: 100%;
    border: none; /* Ẩn viền iframe */
}


.in_main_headling {
    margin: 0;
    padding: 10px 0px;
    font-weight: 700;
    font-size: 25px;
    color: black;
}

.in_head_title {
    padding-top: 20px;
    font-weight: 700;
    font-size: 20px;
}

.in_head_title_small {
    padding: 15px 0px 25px 0px;
    font-size: 15px;
}

.in_head_title_img {
    padding: 20px 0px;
}

.in_new_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px 20px 20px 20px;
}

.img_introduce {
    padding: 15px;
}

.in_img {
    height: 278px;
    width: 400px;
}

.in_img2 {
    width: 100%;
    height: auto;
}

.list_text_item {
    padding-top: 10px;
    font-weight: 700;
    font-size: 15px;
    text-align: left;
}